:root {
	--violet-primary: hsl(256, 26%, 20%);
	--gray-blue-primary: hsl(216, 30%, 68%);

	--dark-violet-neutral: hsl(270, 9%, 17%);
	--dark-gray-violet: hsl(273, 4%, 51%);
	--light-gray: hsl(0, 0%, 98%);

	--heading-font: 'DM Serif Display', serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
	font-size: 1.6rem;
}

html {
	font-size: 62.5%;
}

.nav {
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 2.5rem;
	position: relative;
	z-index: 1000;
}

.nav__list {
	list-style: none;
	font-weight: 400;
	display: flex;
	margin-right: 7rem;
	position: initial;
}

.nav__link {
	text-decoration: none;
	text-transform: uppercase;
}

.nav-checkbox,
.nav-button,
.mobile__nav-background {
	opacity: 0;
	visibility: hidden;
}

.nav-brand {
	margin-left: 8rem;
	margin-right: auto;
}

.nav__item:not(:last-child) {
	margin-right: 2.5rem;
}

.nav__link {
	color: var(--violet-primary);
}

/* HEADER STYLES */
.header {
	background: var(--violet-primary);
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	position: relative;
}

.header__text-box {
	margin-left: 10rem;
	position: relative;
}

.heading-primary {
	font-size: 5rem;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 0.9;
}

.paragraph {
	width: 70%;
}

.header__image-box {
	transform: translate(-25%, 10%);
}

.header__bg-1 {
	position: absolute;
	left: -5%;
}
.header__bg-2 {
	position: absolute;
	right: 0;
	top: -30%;
	z-index: 3;
}

/* BUTTON STYLES */
.btn {
	text-decoration: none;
	padding: 0.8rem 1.5rem;
	text-transform: uppercase;
	font-weight: 400;
}

.btn-dark {
	color: var(--dark-violet-neutral);
	border: 1px solid var(--dark-violet-neutral);
	transition: all 0.3s;
}

.btn-dark:hover {
	color: #fff !important;
	background-color: var(--dark-violet-neutral);
}

.btn-white {
	color: #fff;
	border: 1px solid #fff;
	transition: all 0.3s;
}

.btn-white:hover {
	color: var(--violet-primary);
	background-color: #fff;
}

/* TEXT HEADING STYLES */

.heading-primary,
.heading-secondary,
.heading-tertiary {
	font-family: var(--heading-font);
}
.heading-primary {
	color: #fff;
}

.heading-primary_main {
	display: block;
	width: 100%;
}

.paragraph {
	color: #fff;
	margin-top: 2.5rem;
	word-spacing: 2px;
	line-height: 1.5;
}

.btn-header {
	margin-top: 3.5rem;
	display: inline-block;
}

/* BENEFITS SECTION STYLES */
.section-benefits {
	padding: 10rem 10rem 0;
}

.section-benefits .heading-secondary {
	font-size: 5rem;
}

.section-benefits .heading-secondary {
	color: var(--violet-primary);
	position: relative;
	font-weight: 400;
}

.heading-secondary::before {
	content: '';
	width: 20%;
	height: 1px;
	background-color: var(--gray-blue-primary);
	position: absolute;
	top: -25%;
}

.benefits {
	margin-top: 5rem;
	display: flex;
}

.benefits__box-icon {
	display: inline-block;
	margin-bottom: 2.5rem;
}

.benefits__box:not(:last-child) {
	margin-right: 3.5rem;
}

.heading-tertiary {
	margin-bottom: 1.5rem;
	color: var(--violet-primary);
}

.benefits__box-text {
	color: var(--gray-blue-primary);
	line-height: 1.5;
}

/* CONTACT SECTION STYLES */
.section-contact {
	background: var(--violet-primary) url(/images/bg-pattern-how-we-work-desktop.svg);
	background-repeat: no-repeat;
	background-position-x: 100%;
	display: flex;
	margin: 10rem 10rem 0;
	padding: 7.5rem;
}

.section-contact .heading-secondary {
	color: #fff;
	font-weight: 400;
	margin-right: auto;
}

/* FOOTER STYLES */
.footer {
	margin-top: 10rem;
	padding: 3rem 10rem;
	background: var(--light-gray) url(/images/bg-pattern-footer-desktop.svg);
	background-repeat: no-repeat;
}

.footer__brand {
	padding: 2rem 0;
	border-bottom: 1px solid var(--dark-gray-violet);
	display: flex;
	align-items: center;
}

.footer__brand-logo {
	margin-right: auto;
}

.footer__brand-icons a {
	text-decoration: none;
}

.footer__brand-icon {
	padding: 0.5rem;
}

.footer__nav {
	display: flex;
	margin-top: 2rem;
}

.footer__nav-box {
	margin-right: auto;
	text-transform: uppercase;
}

.footer__nav-heading {
	color: var(--dark-gray-violet);
	padding: 1.5rem 0;
}

.footer__nav-list {
	list-style: none;
}

.footer__nav-item {
	padding: 1rem 0;
}

.footer__nav-link {
	text-decoration: none;
	color: var(--dark-violet-neutral);
	font-weight: 700;
}

/* ATTRIBUTION STYLES */

.attribution {
	font-size: 1.2rem;
	text-align: center;
	background-color: var(--violet-primary);
	color: #fff;
	padding: 1.5rem;
}
.attribution a {
	text-decoration: none;
	color: var(--gray-blue-primary);
}

/* ################################################# */
/* ################################################# */
/* MEDIA QUERIES */
/* ################################################# */
/* ################################################# */
@media screen and (max-width: 768px) {
	.nav-brand {
		margin-left: 3rem;
	}

	.nav__list {
		margin-right: 0;
	}

	.header__text-box {
		margin-left: 5rem;
	}

	.heading-primary {
		font-size: 4rem;
	}

	.paragraph {
		width: 90%;
	}
	.header__image-box {
		transform: translate(-5%, 0);
	}

	.header__bg-1 {
		position: absolute;
		left: -10%;
	}
	.header__bg-2 {
		position: absolute;
		right: -5%;
		top: -50%;
		z-index: 3;
	}

	/* SECTIONS STYLES */
	.section-benefits {
		padding: 15rem 5rem 0;
	}

	.section-contact {
		margin: 10rem 5rem 0;
		padding: 5rem;
	}

	/* FOOTER STYLES */
	.footer {
		margin-top: 7rem;
		padding: 3rem 5rem;
	}
}

@media screen and (max-width: 600px) {
	.nav-brand {
		margin-left: 1.5rem;
	}
	.nav__list {
		position: absolute;
		z-index: 10;
		left: 50%;
		top: 100%;
		transform: translate(-50%, 0);
		text-align: center;
		visibility: hidden;
		opacity: 0;
		margin-top: 10rem;
		font-size: 2rem;
		font-weight: 400;
		transition: all 0.3s 0.6s;
	}

	.nav__item {
		margin-bottom: 3rem;
	}

	.nav__link {
		color: #fff;
	}

	.nav__list {
		flex-direction: column;
	}

	.nav-checkbox {
		position: absolute;
		right: 4rem;
		visibility: hidden;
	}

	.nav-button {
		position: absolute;
		right: 2rem;
		height: 4.5rem;
		width: 4.5rem;
		display: inline-block;
		border: 1px solid var(--dark-violet-neutral);
		opacity: 1;
		visibility: visible;
	}

	.nav-icon {
		top: 2rem;
		right: 0.7rem;
	}

	.nav-icon::before,
	.nav-icon::after {
		content: '';
		right: 0;
	}

	.nav-icon::before,
	.nav-icon,
	.nav-icon::after {
		width: 3rem;
		height: 3px;
		background-color: var(--dark-violet-neutral);
		position: absolute;
		transition: all 0.3s ease;
	}

	.nav-icon::before {
		top: -1rem;
	}

	.nav-icon::after {
		top: 1rem;
	}

	.mobile__nav-background {
		background: var(--dark-violet-neutral) url(/images/bg-pattern-mobile-nav.svg);
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: contain;
		position: absolute;
		z-index: 10;
		top: 109%;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 60rem;
		visibility: hidden;
		opacity: 0;
		transform: translateY(-100%);
		transition: all 0.6s ease-in;
	}

	.blur-bg {
		position: fixed;
		z-index: 1;
		top: 10%;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: hsla(256, 25%, 20%, 0.308);
		backdrop-filter: blur(5px);
		height: 100vh;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
	}

	.nav-checkbox:checked ~ .mobile__nav-background {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.nav-checkbox:checked ~ .nav__list {
		opacity: 1;
		visibility: visible;
	}

	.nav-checkbox:checked ~ .nav-button .nav-icon {
		background-color: transparent;
	}
	.nav-checkbox:checked ~ .nav-button .nav-icon::before {
		top: 0;
		transform: rotate(45deg);
	}
	.nav-checkbox:checked ~ .nav-button .nav-icon::after {
		top: 0;
		transform: rotate(135deg);
	}

	.nav-checkbox:checked ~ .blur-bg {
		opacity: 1;
		visibility: visible;
	}

	.btn-dark {
		display: inline-block;
		width: 25rem;
		padding: 1rem 5rem;
		color: #fff;
		border: 1px solid #fff;
	}

	/* HEADER STYLES */

	.header {
		flex-direction: column;
	}

	.header__text-box {
		background-color: var(--violet-primary);
		text-align: center;
		padding: 5rem 3rem;
		margin-left: 0;
	}

	.heading-primary {
		font-size: 4rem;
		line-height: 1;
	}

	.paragraph {
		line-height: 1.7;
		width: 100%;
	}

	.header__image-box {
		transform: translate(0, 0);
		flex: 1;
	}

	.header__bg-1 {
		left: 0;
		top: 55%;
		/* transform: translateY(-5%); */
	}

	.header__bg-2 {
		right: 0;
		top: 80%;
	}

	/* BENEFITS STYLES */
	.section-benefits {
		padding: 6rem 2rem;
		text-align: center;
	}

	.section-benefits .heading-secondary {
		font-size: 3rem;
	}

	.heading-secondary::before {
		left: 40%;
	}

	.benefits {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.benefits__box:not(:last-child) {
		margin-right: 0;
		margin-bottom: 3rem;
	}

	/* CONTACT SECTION STYLES */
	.section-contact {
		flex-direction: column;
		align-items: center;
		margin: 6rem 2rem;
		padding: 6rem 3rem;
		text-align: center;
		background-position-x: -50%;
		background-size: cover;
	}

	.section-contact .heading-secondary {
		margin-right: 0;
		margin-bottom: 3rem;
		font-size: 6rem;
	}

	/* FOOTER SYTLES */
	.footer {
		margin-top: 7rem;
		padding: 4rem;
	}

	.footer__brand {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer__brand-logo {
		margin-right: 0;
		margin-bottom: 1rem;
	}

	.footer__nav {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.footer__nav-box {
		margin: 0 auto;
	}

	.footer__nav-item {
		padding: 0.5rem 0;
	}
}

@media screen and (max-width: 375px) {
	/* HEADER STYLES */
	.header__bg-1 {
		left: 0%;
		top: 50%;
		transform: translateY(10%);
	}

	/* CONTACT STYLES */
	.section-contact .heading-secondary {
		font-size: 3.5rem;
	}
}

@media screen and (min-width: 90em) {
	/* NAVIGATION STYLES */
	.nav-brand {
		margin-left: 17rem;
	}

	.nav__list {
		margin-right: 14rem;
	}

	/* HEADER STYLES */
	.header__text-box {
		margin-left: 18rem;
		position: relative;
	}
	.header__text-box::before {
		content: '';
		width: 15%;
		height: 1px;
		background-color: var(--light-gray);
		position: absolute;
		top: -25%;
	}

	.header__image-box {
		transform: translate(-30%, 15%);
	}

	.header__bg-1 {
		left: 0;
	}

	.header__bg-2 {
		right: 0;
	}

	/* BENEFITS SECTION STYLES */
	.section-benefits {
		padding: 17rem 17rem 0;
	}

	.benefits__box:not(:last-child) {
		margin-right: 4.5rem;
	}

	/* CONTACT SECTION STYLES */
	.section-contact {
		margin: 10rem 17rem 0;
		padding: 7.5rem;
	}

	/* FOOTER STYLES */
	.footer {
		padding: 3rem 17rem;
	}
}

/* ANIMATIONS */
@keyframes slideIn {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
